<div layout="row" id="Prof-Second-Table">
    <div flex>
        <form editable-form name="editableForm" onaftersave="saveTable()">
            <table class="table-responsive" id="profilengTable">
                <div type="button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible" class="glyphicon glyphicon-pencil" id="profileEdit"></div>
                <tr>
                    <th>
                        <h3>Diploma</h3></th>
                    <td editable-text="profileEngArray.diploma" e-name="name" e-required>
                        <h2>{{ profileEngArray.diploma || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Degree</h3></th>
                    <td editable-text="profileEngArray.degree" e-name="name" e-required>
                        <h2>{{ profileEngArray.degree || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Discipline</h3></th>
                    <td editable-text="profileEngArray.discipline" e-name="name" e-required>
                        <h2>{{ profileEngArray.discipline || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Year of Passing</h3></th>
                    <td editable-text="profileEngArray.yearOfPassing" e-name="name" e-required>
                        <h2>{{ profileEngArray.yearOfPassing || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Aggregate in %</h3></th>
                    <td editable-text="profileEngArray.aggregateIn" e-name="name" e-required>
                        <h2>{{ profileEngArray.aggregateIn || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Final Year %</h3></th>
                    <td editable-text="profileEngArray.finalYearPercentage" e-name="name" e-required>
                        <h2>{{ profileEngArray.finalYearPercentage || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Training Institute</h3></th>
                    <td editable-text="profileEngArray.trainingInstitute" e-name="name" e-required>
                        <h2>{{ profileEngArray.trainingInstitute || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Traning Duration</h3></th>
                    <td editable-text="profileEngArray.trainingPeriod" e-name="name" e-required>
                        <h2>{{ profileEngArray.trainingPeriod || '--' }}</h2></td>
                </tr>
                <tr>
                    <th>
                        <h3>Training</h3></th>
                    <td editable-text="profileEngArray.training" e-name="name" e-required>
                        <h2>{{ profileEngArray.training || '--' }}</h2></td>
                </tr>
                <tr>
                    <td><button type="submit" ng-show="editableForm.$visible" ng-disabled="editableForm.$waiting" id="profileSave">Save</button></td>
                    <td><button type="button" ng-show="editableForm.$visible" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" id="profilecancel">Cancel</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
